@import url("https://fonts.googleapis.com/css2?family=Anta&family=Kode+Mono:wght@400..700&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

/* It's most important part of the code for me */
body {
  font-family: "Kode Mono", monospace;
  height: 500vh;
}

/* ! Navbar Start */
.navbar {
  background-color: black;
  height: 50px;
  color: white;
  position: sticky;
  top: 0;
}

.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0px 50px;
}

.logo {
  color: rgb(255, 70, 70);
  cursor: pointer;
}

.logo:hover {
  color: rgb(255, 100, 100);
  font-weight: bold;
}

.menu-list {
  display: flex;
  list-style: none;
  column-gap: 30px;
}

.menu-list-item {
  cursor: pointer;
}

.menu-list-item:hover {
  font-weight: bold;
}

.menu-list-item.active {
  font-weight: bold;
}

.profile-container {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.profile-picture {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  border-width: 3px;
  border-color: rgb(28, 124, 92);
  border-style: solid;
  cursor: pointer;
}

.profile-text-container {
  display: flex;
  align-items: center;
  column-gap: 5px;
  line-height: 1;
}

.toggle {
  width: 40px;
  height: 20px;
  border-radius: 30px;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.toggle-icon {
  color: goldenrod;
}

.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 1px;
}
/* ! Navbar End */

/* ! Sidebar Start */
.sidebar {
  background-color: black;
  color: white;
  height: 100%;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  padding-top: 30vh;
  position: fixed;
  top: 0;
}

.sidebar-item {
  cursor: pointer;
  color: white;
  font-size: 20px;
}
/* ! Sidebar Start */
