@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-color: #c22929;
  --black-color: #181515;
  --border: 0.1rem solid rgba(255, 255, 255, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: "Poppin", sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s ease-in-out;
}

/* ! BASE HTML CODES */
html {
  font-size: 62.5%; /* ! Burada 1 Remi 10 px yaptık*/
  overflow-x: hidden; /* ! burada yana doğru scroll barın ilerlemesini engelledik*/
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

/* ! BODY */
body {
  background-color: var(--main-color);
}

/* ! SECTION */
section {
  padding: 3.5rem 7%;
}

/* ! a */
a {
  color: var(--black-color);
  text-decoration: none;
}

/* ! BUTTON */
.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 2rem 3.75rem;
  background-color: var(--black-color);
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  opacity: 1;
  border-radius: 4rem;
  cursor: pointer;
}

.btn:hover {
  color: bisque;
  opacity: 0.8;
}

.search-input {
  font-size: 1.6rem;
  color: var(--black-color);
  padding: 1rem;
  text-transform: none;
  border-radius: 3rem;
}

/* ! HEADER START */

/* ! HEADING */

.header .search-form {
  position: absolute;
  top: 115%;
  right: 7%;
  background-color: white;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  border-radius: 3rem;
  box-shadow: 0rem 0rem 2.5rem 2rem rgb(0, 0, 0, 0.75);
  transform: scaleY(0);
}

.header .search-form.active {
  transform: scaleY(1);
}

.header .search-form i {
  cursor: pointer;
  font-size: 2.1rem;
  margin-right: 1.5rem;
  color: var(--black-color);
}

.header .search-form input {
  width: 100%;
}

.heading {
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 3.5rem;
  border-bottom-width: 0.1rem;
  border-bottom-color: white;
  border-bottom-style: solid;
}

.heading span {
  color: var(--black-color);
  font-size: 4rem;
  text-transform: uppercase;
}

/* ! LOGO */
.header .logo img {
  height: 10rem;
  cursor: pointer;
}

.header {
  margin: 2rem 7%;
  padding: 0 7%;

  position: sticky;
  top: 2rem;

  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5rem;
  box-shadow: 0rem 0rem 2rem -0.3rem rgba(0, 0, 0, 0.75);

  z-index: 10000;
}

.header .navigation-bar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: var(--black-color);
  border-bottom-width: 0.1rem;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  cursor: pointer;
}

.header .navigation-bar .active {
  font-weight: bold;
}

.header .navigation-bar .active,
.header .navigation-bar a:hover {
  border-bottom-color: var(--main-color);
  padding-bottom: 0.5rem;
}

.header .buttons button {
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
  background-color: transparent;
}

.header #menu-btn {
  display: none;
}

.header .card-items-container {
  position: absolute;
  top: 95%;
  height: calc(100vh - 9rem);
  width: 35rem;
  background-color: white;
  box-shadow: 0rem 2rem 1.4rem 0rem rgba(0, 0, 0, 0.75);
  right: -100%;
}

.header .card-items-container.active {
  right: 3rem;
}

.header .card-items-container .card-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
}

.header .card-items-container .card-item:hover {
  box-shadow: 0rem 0rem 1rem 0rem rgba(0, 0, 0, 0.75);
}

.header .card-items-container .card-item .fa-times {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--black-color);
}

.header .card-items-container .card-item img {
  height: 7rem;
}

.header .card-items-container .card-item .content h3 {
  font-size: 1.8rem;
}

.header .card-items-container .card-item .content .price {
  font-size: 1.4rem;
}

.header .card-items-container a {
  width: 100%;
  text-align: center;
  border-radius: 0rem;
}

/* ! HEADER END */

/* ! HOME START */
.home {
  min-height: 100vh;
  background: url("../../images/home.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -14.2rem;

  display: flex;
  align-items: center;
}

.home .content {
  max-width: 100rem;
}

.home .content h3 {
  font-size: 5rem;
  text-transform: uppercase;
  color: white;
}

.home .content p {
  font-size: 2rem;
  font-weight: 300;
  text-align: justify;
  line-height: 2rem;
  padding: 2rem 0;
  color: #ccc;
}

.home .content h3 {
  font-size: 5rem;
  text-transform: uppercase;
  color: white;
}

.home .content a:hover {
  color: bisque;
}
/* ! HOME END */

/* ! MENU START */

.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.menu .box-container .box img {
  width: 100%;
  object-fit: cover;
}

.menu .box-container .box {
  padding: 3rem;
  background-color: white;
  border-radius: 3rem;
  min-height: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.menu .box-container .box .menu-category {
  font-size: 1.6rem;
}

.menu .box-container .box h3 {
  text-transform: uppercase;
  font-size: 3rem;
  padding: 1rem 0rem;
}

.menu .box-container .box .price {
  font-size: 2rem;
  padding: 0.5rem 0rem;
  font-weight: 300;
}

.menu .box-container .box .price span {
  text-decoration: line-through;
}

/* ! MENU END */

/* ! SCROLL START */
html::-webkit-scrollbar {
  width: 0.8rem;
  background-color: white;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--black-color);
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}
/* ! SCROLL END */

/* ! PRODUCT START */
.products .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.products .box-container .box {
  padding: 3rem;
  text-align: center;
  background-color: white;
  position: relative;
  border-radius: 3rem;
  min-height: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.products .box-container .box .box-head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 11;
}

.products .box-container .box .box-head .title {
  font-size: 1.6rem;
}

.products .box-container .box .box-head .name {
  font-size: 4rem;
  font-weight: bold;
  text-align: start;
  overflow-wrap: anywhere;
}

.products .box-container .dark-bg .box-head .title,
.products .box-container .dark-bg .box-head .name {
  color: white;
}

.products .box-container .box .image img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  border-radius: 3rem;
}

.products .box-container .dark-bg .image img {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: unset;
}

.products .box-container .box-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}

.products .box-container .box-button .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.products .box-container .box-button .info .price {
  font-size: 3rem;
}

.products .box-container .box-button .info .amount {
  font-size: 1.6rem;
}

.products .box-container .dark-bg .box-button .info .price,
.products .box-container .dark-bg .box-button .info .amount {
  color: white;
}

.products .box-container .box-button .product-btn a {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  width: 6.5rem;
  height: 6.5rem;
  border: 0.2rem solid var(--main-color);
}

.products .box-container .box-button .product-btn a i {
  font-size: 2.4rem;
  color: var(--main-color);
}

/* ! PRODUCT END */

/* ! ABOUT START */

.about .row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
}

.about .row .image {
  flex: 1 1 45rem;
}

.about .row .image img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 45rem;

  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.about .row .content h3 {
  font-size: 3rem;
}

.about .row .content p {
  font-size: 1.2rem;
  text-align: justify;
  line-height: 1.4;
}
/* ! ABOUT END */

/* ! REVIEW START */
.review .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.review .box-container .box {
  border: var(--border);
  text-align: center;
  padding: 3rem 2rem;
  background-color: white;
  border-radius: 3rem;
}

.review .box-container .box p {
  font-size: 1.5rem;
  line-height: 1.8rem;
  padding: 2rem 0;
}

.review .box-container .box .user {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.review .box-container .box h3 {
  font-size: 1.6rem;
  color: var(--main-color);
  margin-bottom: 1rem;
}

.review .box-container .box .stars {
  font-size: 1.5rem;
  color: goldenrod;
}

/* ! REVIEW END */

/* ! CONTACT START */

.contact .row {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--black-color);
  /* border-radius: 2rem; */
  gap: 1rem;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
  /* border-radius: 2rem 0 0 2rem; */
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  width: 100%;
  object-fit: cover;
  text-align: center;
}

.contact .row form h3 {
  text-transform: uppercase;
  color: white;
  font-size: 3.5rem;
  font-weight: 400;
  padding-bottom: 2rem;
}

.contact .row form .inputBox {
  display: flex;
  align-items: center;
  margin: 2rem 0rem;
  border: var(--border);
}

.contact .row form .inputBox i {
  font-size: 2rem;
  color: white;
  padding-left: 2rem;
  padding-right: 0.5rem;
}

.contact .row form .inputBox input {
  width: 100%;
  padding: 2rem;
  font-size: 1.8rem;
  color: white;
  text-transform: none;
  background: none;
}

.contact .row form .btn {
  color: var(--main-color);
  background-color: white;
  font-weight: bold;
}

/* ! CONTACT END */

/* ! BLOG START */

.blog .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.blog .box-container .box {
  background-color: white;
  border-radius: 3rem;
}

.blog .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  width: 100%;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}

.blog .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.blog .box-container .box:hover .image img {
  transform: scale(1.2);
}

.blog .box-container .box .content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog .box-container .box .content .title {
  line-height: 2rem;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 0.4rem;
}

.blog .box-container .box .content span {
  display: block;
  font-size: 1.4rem;
  font-weight: 300;
}

.blog .box-container .box .content p {
  padding: 2rem 0rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 600;
  text-align: justify;
  color: #746969;
}

.blog .box-container .box .content .btn {
  padding-left: 7rem;
  padding-right: 7rem;
}

/* ! BLOG END */

/* ! FOOTER START */
.footer {
  background-color: var(--black-color);
  text-align: center;
}

.footer .search {
  display: flex;
  justify-content: center;
}

.footer .search .search-input {
  width: 30rem;
}

.footer .search .btn {
  background-color: var(--main-color);
  padding: 1rem 2rem;
  margin-left: 2rem;
}

.footer .share {
  padding: 2rem 0rem;
}

.footer .share a {
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  color: white;
  font-size: 2rem;
  border: var(--border);
  border-radius: 50%;
  margin: 0.2rem;
}

.footer .share a:hover {
  background-color: var(--main-color);
}

.footer .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.footer .links a {
  color: white;
  font-size: 1.4rem;
  background-color: var(--main-color);
  padding: 1rem 2.5rem;
  border: 0.1rem solid #ccc;
  opacity: 1;
}

.footer .links a:hover {
  background-color: var(--black-color);
}

.footer .links a.active {
  background-color: var(--black-color);
}

.footer .credit {
  padding-top: 2rem;
  font-size: 1.4rem;
  font-weight: 300;
  color: white;
}

.footer .credit span {
  color: var(--main-color);
}

.footer .credit span:hover {
  color: rgb(231, 128, 59);
}

/* ! FOOTER END */

/* ! RESPONSIVE START */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  .header .logo img {
    height: 7rem;
  }

  section {
    padding: 2rem;
  }

  .products .box-container .box .box-head .name {
    font-size: 3.5rem;
  }
}

@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }

  .header .navigation-bar {
    position: absolute;
    top: 95%;
    background-color: white;
    height: calc(100vh - 9rem);
    width: 30rem;
    box-shadow: 0rem 2rem 1.4rem 0rem rgba(0, 0, 0, 0.75);
    right: -100%;
  }

  .header .navigation-bar.active {
    right: 3rem;
  }

  .header .navigation-bar a {
    color: var(--black-color);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 50%;
  }

  .header #menu-btn {
    display: inline-block;
  }
}
/* ! RESPONSIVE END */
